# Popular films recommender : probability of picking a film is proportional to its relative rating sum  to the sum of all rating sums

In [3]:
import pandas as pd
import numpy as np

In [4]:
ratings_df = pd.read_csv('../data/ml-latest-small/ratings.csv')
user_item_matrix = ratings_df.pivot(index='userId', columns='movieId', values='rating')
user_item_matrix.tail()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
606,2.5,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,2.5,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
def get_unseen_films(user_id):
    users_unseen_films = user_item_matrix.T.isna()
    user_boolean_series = users_unseen_films[[user_id]]
    unseen_films = user_boolean_series.index[user_boolean_series[user_id]].tolist()
    return unseen_films

In [6]:
# xx_test :ratings sums of all not seen films by user 1
xx_test = user_item_matrix.sum(axis=0).loc[get_unseen_films(1)]

In [7]:
proba_series_test = xx_test / xx_test.sum()

In [8]:
np.random.choice(proba_series_test.index, p=proba_series_test.values, size=5)

array([   69,   785,   899, 55451,   588])

In [9]:
def popular_film_recommender(user_id, user_item_matrix, k):
    unseen_films_ratings_sums = user_item_matrix.sum(axis=0).loc[get_unseen_films(user_id)]
    proba_series = unseen_films_ratings_sums / unseen_films_ratings_sums.sum()
    return np.random.choice(proba_series.index, p=proba_series.values, size=k)

In [10]:
popular_film_recommender(1, user_item_matrix, 5)

array([ 64969,   4465,  72641, 100507,    318])